/*--------------------footer-------------------*/
.footer{
    grid-area: footer;
    background-color: $rosaFucsia;
    .footerContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .footerCopyright{
            padding: 24px 0px 15px 0px;
            text-align: center;
            font-size: 16px;
            font-weight: bolder;
        }
        .footerNav{
            width: 100%;
            font-weight: bold;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                li{
                    list-style: none;
                    padding: 5px;
                    a{
                        text-decoration: none;
                        font-weight: 500;
                        color: black;
                        &:hover{
                            color: $rosaClaro;
                        }
                    }
                }
            }
        }
    }
} 
